body, #footer-container { background: #1b0a1c; }
#footer-widgets-container { background: #200e21; }
#header-container { background:#f7f0f7;border-color: #ddd1de; }

a, #comments .comment-head .name, .slide-content .title { color: #aa36b3; }
a:hover, .archive_header, .post .title, .page .title, h1.title, .post .title a:link, .post .title a:visited, .single .title a:link, .single .title a:visited { color: #4a294d; }

.nav a { color: #443e45; }
.nav a:hover, 
.nav li.current_page_item a, 
.nav li.current_page_parent a,
.nav li.current-menu-ancestor a,
.nav li.current-cat a,
.nav li.current-menu-item a,
.nav li.sfHover { color: #b67bba; }

#slides, #title-container { background:#efe4f0; border-top: 3px solid #eaddeb; border-bottom:1px solid #e2d5e3; }
.slide .entry h2 {color: #b67bba;}

#main #testimonials .quote-icon { background-color: #d972e0; }
#main .section { border-color: #c9bfc9; }

#footer-widgets .widget h3 { border-color: #452647; color: #e2b5e5; }
#footer-widgets .widget ul li { border-color: #452647; }

#tabs, 
#post-author, 
#main #connect,
.widget_woo_twitter .back, 
#comments .comment .comment-container, 
#comments .comment-entry,
.search_main { background: #f7f2f7; border-color: #e4d5e5; }
#post-author .profile-content { border-color: #e4d5e5; }
#comments .comment-head, #post-author .profile-content { background: #f4eded; }

a.button, 
a.comment-reply-link, 
#commentform #submit,
.submit,
input[type=submit],
input.button,
button.button { background: #aa36b3; border-color: #a941b0; border-bottom-color: #912099; }